.search-book {
  border: 1px solid black;
}

li {
  display: grid;
  align-content: space-around;
  justify-content: space-around;

  padding: .5em;

  list-style-type: none;

  grid-template-columns: repeat(2, 2fr) 1fr 1fr;
}

span, p {
  text-align: center;
}

.search-book li:nth-child(2n) {
  background-color: gainsboro;
}

p {
  font-weight: 700;
}
